body{
font-family: system-ui;
margin:0;
background:#f4f4f4;
}

header{
padding:16px;
background:black;
color:white;
text-align:center;
}

#content{
padding:16px;
}

.card{
background:white;
padding:16px;
border-radius:10px;
margin-bottom:20px;
}

.event{
padding:12px 0;
border-bottom:1px solid #eee;
}

.attendance button{
margin:6px 6px 0 0;
}

.bottom-nav{
position:fixed;
bottom:0;
left:0;
right:0;
background:white;
border-top:1px solid #ddd;
display:flex;
}

.bottom-nav button{
flex:1;
padding:14px;
border:none;
background:white;
}
